*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
     font-family: "Zalando Sans SemiExpanded", sans-serif;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    line-height: 0.8;

}
.container{
    width: 1410.55px;
    margin: 0 auto;
}
.div1{
    width: 1407.55px;
    height: 84px;
    display: flex;
    color: antiquewhite;
    align-items: center;
    background-color:white;
}
.div3 ul{
    display: flex;
    
}
  .div3 a{
    padding: 22.5px;
    color: black;
    font-size: 14px;
    font-weight: 500;

  }
  .div4 ul{
    margin-left: 449px;
    display: flex;
  }
  .div4 a{
    padding: 15.5px;
    color: black;
    font-size: 22.5px;
  }
  .div4 a i:hover{ color: tomato;
  transition: .5s;}
    
    
  

  
  .div3 ul li a:hover{
    color: rgb(26, 214, 42);

  }
.div3 ul li a::after{
    width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: black;
   margin-left: 23px;
   margin-top: 2.5px;
    
    
    

}
.div3 ul li a:hover::after{
    width: 30px;
        transition: .5s;
}
.div3{
    margin-top: 12px;
}
.one1{
  width: 1881px;
  height: 800px;
  
  margin: 0 auto;
}
.one1 i{
  margin-left: 20px;
  color: black;

}
.one3{
  transform: rotate(270deg);
  
  margin-top: 100px;
  position: absolute;
  top:350px;
  left:-10px;
}


.one4{
  background: url(imges/19.png);
width: 1800px;
height: 800px;
margin-left: 27.5px;

  
  
}

.one5 h4{
font-size: 14px;
font-weight: 500;
color: red;
padding-top: 284px;
padding-left: 70px;

}
.one5 h2{
  font-size: 65px;
font-weight: 700;
color:#222222;
padding-top: 30px;
padding-left: 0px;
}
.one5 h3{
  font-size: 65px;

color: #222222;
padding-top: 26px;
font-weight: 400;
padding-left: 0px;

}
.one7 a{
  font-size: 14px;
font-weight: 500;
color: rgb(10, 5, 5);
padding-top: px;
padding-left: 0px;
}

  
.one7{
  margin-top: -280px;
  margin-left: 10px;
}


.one5 h4::after{
   width:50px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(250, 4, 4);
   margin-top: 4px;
   margin-left: -156px;
   
    
}
.one7 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-128px ;
}
.one7 a:hover::after{
  width: 110px;
transition: .7s;


}



  

.one6{
  margin-left: 900px;
  margin-top: -400px;
}
.twoFlex{
  display: flex;
  column-gap: 30px;
  margin-top: 90px;
  
}
.two1{
  width: 694px;
  height: 605px;
  background:url(imges/21.png) ;
}
.two2{
width: 690px;
height: 285px;
background:url(imges/22.png) ;
}

  
.two3{
  width: 330px;
  height: 285px;
  background:url(imges/23.png) ;
}
.two4{
  background:url(imges/24.png);
  width:330px ;
  height:285px ;
}
.two5{
  display: flex;
  column-gap: 30px;
  margin-left: 721px;
  margin-top: -290px;
  
}
.two1 h4{
font-size:16px ;
font-weight:500;
color: #000;
padding-top: 20px;
padding-left:40px ;

}
a{
  text-decoration: none;
}
.two1 h3{
font-size:26px ;
font-weight:500;

padding-top: 16px;
padding-left: 40px;
}
.two1 h5{
font-size:14px ;
font-weight:400 ;
color:#222222 ;
padding-top: 500px;
padding-left:40px ;
}
.two1 samp{
  font-weight: 700;


}
.two1 h4 a{
  color: #121212;
}
.two1 h4::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-95px ;
}
.two1 h4:hover::after{
    width: 70px;
        transition: .5s;
        color: black;
}
.two2 h4{
font-size:16px ;
font-weight:500;
color: #000;
padding-top: 20px;
padding-left:40px ;

}
a{
  text-decoration: none;
}
.two2 h3{
font-size:26px ;
font-weight:500;

padding-top: 16px;
padding-left: 40px;
}
.two2 h5{
font-size:14px ;
font-weight:400 ;
color:#222222 ;
padding-top: 175px;
padding-left:40px ;
}
.two2 samp{
  font-weight: 700;


}
.two2 h4 a{
  color: #121212;
}
.two2 h4::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-95px ;
}
.two2 h4:hover::after{
    width: 70px;
        transition: .5s;
        color: black;
}
.two3 h4{
font-size:16px ;
font-weight:500;
color: #000;
padding-top: 20px;
padding-left:40px ;

}
a{
  text-decoration: none;
}
.two3 h3{
font-size:26px ;
font-weight:500;

padding-top: 16px;
padding-left: 40px;
}
.two3 h5{
font-size:14px ;
font-weight:400 ;
color:#222222 ;
padding-top: 175px;
padding-left:40px ;
}
.two3 samp{
  font-weight: 700;


}
.two3 h4 a{
  color: #121212;
}
.two3 h4::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-95px ;
}
.two3 h4:hover::after{
    width: 70px;
        transition: .5s;
        color: black;
}
.two4 h4{
font-size:16px ;
font-weight:500;
color: #000;
padding-top: 20px;
padding-left:40px ;

}
a{
  text-decoration: none;
}
.two4 h3{
font-size:26px ;
font-weight:500;

padding-top: 160px;
padding-left: 40px;
}
.two4 h5{
font-size:14px ;
font-weight:400 ;
color:#222222 ;
padding-top: 17px;
padding-left:40px ;
}
.two4 samp{
  font-weight: 700;


}
.two4 h4 a{
  color: #121212;
}
.two4 h4::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-145px ;
}
.two4 h4:hover::after{
    width: 70px;
        transition: .5s;
        color: black;
}
.three1 h3{
  font-size:35px ;
  font-weight:400 ;
  color:#222222 ;
  text-align: center;
}
.three2{
  font-weight: 700;

}
.three1{
  margin-top: 94px;
}
.three3 a{
font-size: 16px;
font-weight: 500;
color: #767676;
padding: 25px;

}
.three3{
  margin-left: 440px;
  margin-top: 43px;
}
.three3 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-95px ;
}
.three3 a:hover::after{
    width: 70px;
        transition: .5s;
        color: black;
}
.three4 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-33px ;
}
.three4 a:hover::after{
    width: 30px;
        transition: .5s;
        color: black;
}
.three5 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-129px ;
}
.three5 a:hover::after{
    width: 100px;
        transition: .5s;
        color: black;
}
.three6 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-120px ;
}
.three6 a:hover::after{
    width: 90px;
        transition: .5s;
        color: black;
}
.three7 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-100px ;
}
.three7 a:hover::after{
    width: 80px;
        transition: .5s;
        color: black;
}
.threeFlex{
  display: flex;
  column-gap: 30px;
  margin-top: 51px;
}
.three8{
  width:330px ;
  height:494px ;
  background-color:white ;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);
}
.three9{
  width:328px ;
  height:494px ;
  background-color:white;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);
}
.three10{
  width:330px ;
  height:494px ;
  background-color:white ;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);
}.three11{
  width:330px ;
  height:494px ;
  background-color:white ;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);
}
.threeFlex1{
  display: flex;
  column-gap: 30px;
  margin-top: 51px;
}
.three12{
  width:330px ;
  height:494px ;
  background-color:white ;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);
}.three13{
  width:330px ;
  height:494px ;
  background-color:white ;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);
}.three14{
  width:330px ;
  height:494px ;
  background-color:white ;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);
}.three15{
  width:328px ;
  height:494px ;
  background-color:white;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.09),
            0 6px 15px rgba(0, 0, 0, 0.05);
}
.three8 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three8 i{
  margin-left: 300px;
}
.three8 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three8 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three8 a{
  font-size: 20px;
  color: #000;

}
.three8 i{
  margin-top: -20px;
}
.three9 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three9 i{
  margin-left: 300px;
}
.three9 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three9 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three9 a{
  font-size: 20px;
  color: #000;

}
.three9 i{
  margin-top: -20px;
}
.three10 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three10 i{
  margin-left: 300px;
}
.three10 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three10 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three10 a{
  font-size: 20px;
  color: #000;

}
.three10 i{
  margin-top: -20px;
}
.three11 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three11 i{
  margin-left: 300px;
}
.three11 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three11 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three11 a{
  font-size: 20px;
  color: #000;

}
.three11 i{
  margin-top: -20px;
}
.three12 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three12 i{
  margin-left: 300px;
}
.three12 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three12 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three12 a{
  font-size: 20px;
  color: #000;

}
.three12 i{
  margin-top: -20px;
}
.three13 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three13 i{
  margin-left: 300px;
}
.three13 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three13 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three13 a{
  font-size: 20px;
  color: #000;

}
.three13 i{
  margin-top: -20px;
}
.three14 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three14 i{
  margin-left: 300px;
}
.three14 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three14 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three14 a{
  font-size: 20px;
  color: #000;

}
.three14 i{
  margin-top: -20px;
}
.three15 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three15 i{
  margin-left: 300px;
}
.three15 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three15 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three15 a{
  font-size: 20px;
  color: #000;

}
.three15 i{
  margin-top: -20px;
}
.three8 i:hover{
color: red;
transition: .5s;
}
.three9 i:hover{
color: red;
transition: .5s;
}.three10 i:hover{
color: red;
transition: .5s;
}.three11 i:hover{
color: red;
transition: .5s;
}.three12 i:hover{
color: red;
transition: .5s;
}.three13 i:hover{
color: red;
transition: .5s;
}.three14 i:hover{
color: red;
transition: .5s;
}.three15 i:hover{
color: red;
transition: .5s;
}
.three11 h6::after{

 width:42px;
    height: 1.5px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 6px;
   margin-left:-85px ;
}
.three16{
  padding-left: 10px;
  color: red;
}
.three15 h6::after{

 width:42px;
    height: 1.5px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 6px;
   margin-left:-85px ;
}
.three17{
  padding-left: 10px;
  color: red;
}
.three18 {
text-align: center;
margin-top: 50px;
}
.three18 a{
  font-size: 18px;
font-weight: 500;
color: #222222;

}
.three18 a:hover::after{
    width: 150px;
        transition: .7s;
        color: black;
}
.three18 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-180px ;
}
.four1{
  width: 1800px;
  height: 600px;
  margin: 0 auto;
  background:url(imges/112.png);
  margin-top: 100px;
}
.four2 h4{
font-size: 14px;
font-weight: 500;
color: red;
padding-top: 214px;
padding-left: 54px;

}
.four2 h4::after{
   width:50px;
    height: 2px;
    position: absolute;
    content: "";
    background-color: rgb(250, 4, 4);
   margin-top: 0px;
   margin-left: -200px;
   
    
}
.four3 h2{
  font-size: 70px;
  font-weight: 700;
  color: #222222;
}
.four5{
  font-weight: 400;
  
}
.four3{
  margin-top: 40px;
}
.four4 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-83.3px ;
}
.four4 a{
  font-size: 14px;
font-weight: 500;
color: rgb(10, 5, 5);
padding-top: px;
padding-left: 0px;
}
.four4 a:hover::after{
  width: 50px;
transition: .7s;


}
.four4{
  margin-top: 44px;
}
.four6{
  margin-top: 122px;
}
.fourFlex{
  display: flex;
  margin-top: 100px;
  column-gap: 30px;
}
.four7{
  width: 688px;
  height: 398px;
  background:url(imges/113.png) ;
}
.four8{
   width: 687px;
  height: 398px;
  background:url(imges/114.png) ;
}
.four7 h5{
font-size: 18px;
font-weight: 500;
color: white;
padding-top:235px ;
padding-left:45px ;
}
.four7 h4{
  font-size:26px ;
  font-weight:500 ;
  color: white;
  padding-top: 30px;
  padding-left:45px ;
  
}.four9 a{
  font-size: 14px;
font-weight: 500;
color: white;
padding-top: 235px;
padding-left: 45px;
}
.four9 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-83.3px ;
}
.four9 a:hover::after{
  width: 50px;
transition: .7s;


}
.four9{
  margin-top: 32px;
  
}
.four8 h5{
font-size: 18px;
font-weight: 500;
color: #222222;
padding-top:235px ;
padding-left:45px ;
}
.four8 h4{
  font-size:26px ;
  font-weight:500 ;
  color: #222222;
  padding-top: 30px;
  padding-left:45px ;
  
}.four10 a{
  font-size: 14px;
font-weight: 500;
color: #222222;
padding-top: 235px;
padding-left: 45px;
}
.four10 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 20px;
   margin-left:-83.3px ;
}
.four10 a:hover::after{
  width: 50px;
transition: .7s;


}
.four10{
  margin-top: 32px;
  
}
.four12{
  width: 1510px;
  height: 600px;

  margin: 0 auto;
}
.fourFlex1{
  display: flex;
  column-gap: 30px;
  margin-top: 62px;
}
.four11 h3{
  text-align: center;
  font-size:35px ;
  font-weight: 400;
  color: #222222;
  padding-top: 83px;
}
.three24{
font-weight: 700;
}
.three19 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three19 i{
  margin-left: 300px;
}
.three19 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three19 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three19 a{
  font-size: 20px;
  color: #000;

}
.three19 i{
  margin-top: -20px;
}
.three20 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three20 i{
  margin-left: 300px;
}
.three20 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three20 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three20 a{
  font-size: 20px;
  color: #000;

}
.three20 i{
  margin-top: -20px;
}
.three21 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three21 i{
  margin-left: 300px;
}
.three21 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three21 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three21 a{
  font-size: 20px;
  color: #000;

}
.three21 i{
  margin-top: -20px;
}
.three23{
  padding-left: 10px;
  color: red;
}
.three22 h6::after{

 width:42px;
    height: 1.5px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 6px;
   margin-left:-85px ;
}
.three22 h4{
  font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
}
.three22 i{
  margin-left: 300px;
}
.three22 h5{
font-size: 14px;
  font-weight:400 ;
  color:#767676 ;
  padding-top: 18px;
}
.three22 h6{
   font-size: 16px;
  font-weight:400 ;
  color:#222222 ;
  padding-top: 10px;
}
.three22 a{
  font-size: 20px;
  color: #000;

}
.three22 i{
  margin-top: -20px;
}
.three19 i:hover{
color: red;
transition: .5s;
}
.three20 i:hover{
color: red;
transition: .5s;
}.three21 i:hover{
color: red;
transition: .5s;
}.three22 i:hover{
color: red;
transition: .5s;}
.four13{
  margin-left: -40px;
  margin-top: -310px;

}
.four13 a{
  font-size: 30px;
  color: #000;
}

.four14{
  margin-left:1425px;
  margin-top: -30px;

}
.four14 a{
  font-size: 30px;
  color: #000;
}
.four13 a:hover{
  color: tomato;
  transition: .7s;
}
.four14 a:hover{
  color: tomato;
  transition: .7s;
}
.four16{
  margin-top: 70px;
}
.four15 h3{
  font-size:35px ;
  font-weight:400 ;
  color:#222222 ;
  text-align: center;
  padding-top: 150px;
}
.fourFlex2{
  display: flex;
  margin-top:0px ;
  column-gap: 200px;
  margin-left: 85px;
  margin-top: 100px;

}
.four17 img{
margin-left: 110px;


}
.four17 h3{
font-size:18px ;
font-weight:500 ;
color:#000000;
padding-left:20px ;
padding-top:30px ;
}
.four17 h4{
font-size:15px ;
font-weight:400;
color:#767676 ;
padding-left:0px ;
padding-top:23px ;
}
.four18 img{
margin-left: 110px;

}
.four18 h3{
font-size:18px ;
font-weight:500 ;
color:#000000;
padding-left:20px ;
padding-top:30px ;
}
.four18 h4{
font-size:15px ;
font-weight:400;
color:#767676 ;
padding-left:0px ;
padding-top:23px ;
}.four19 img{
margin-left: 110px;

}
.four19 h3{
font-size:18px ;
font-weight:500 ;
color:#000000;
padding-left:20px ;
padding-top:30px ;
}
.four19 h4{
font-size:15px ;
font-weight:400;
color:#767676 ;
padding-left:0px ;
padding-top:23px ;
}
.four20{
  width: 1920px;
  height: 571px;
  background: url(imges/30.png);
  margin: 0 auto;
  margin-top: 106px;
}
.fourFlex3{
  display: flex;
  column-gap: 81px;

}
.four21 img{
  margin-top: 100px;

}
.four21 h4{
font-size: 14px;
font-weight: 400;
color: #222222;
padding-top:50px ;
line-height:26px ;
}
.four21 h5{
font-size: 14px;
font-weight: 500;
color: #222222;
padding-top:50px ;
}
.four21 h6{
font-size: 14px;
font-weight: 500;
color: #222222;
padding-top:25px ;
}
.four26 a{
  font-size: 25px;
  color: #000;
  padding: 15px;
}
.four26{
  margin-left: -20px;
  margin-top: 55px;
}
.four26 a:hover{
  color: red;
  transition: .7s;
}
.four22 h3{
  font-size: 22px;
font-weight: 600;
color: #222222;
padding-top:100px ;
}
.four27 a{
 font-size: 14px;
font-weight: 500;
color: #222222; 
line-height: 52px;
}
.four27{
  margin-top: 50px;
}

.four28 a::after{
 width:0px;
    height: 3px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 37px;
   margin-left:-65px ;
}
.four28 a:hover::after{
  width: 50px;
  transition: .7s;
}
.four29 a::after{
 width:0px;
    height: 2px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 37px;
   margin-left:-55px ;
}
 .four29 a:hover::after{ 
  width: 45px;
  transition: .7s;
}
.four30 a::after{
 width:0px;
    height: 2px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 37px;
   margin-left:-62px ;
}
 .four30 a:hover::after{ 
  width: 55px;
  transition: .7s;
}
.four31 a::after{
 width:0px;
    height: 2px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 37px;
   margin-left:-31px ;
}
 .four31 a:hover::after{ 
  width: 25px;
  transition: .7s;
}
.four32 a::after{
 width:0px;
    height: 2px;
    position: absolute;
    content: "";
    background-color: rgb(12, 10, 10);
   margin-top: 37px;
   margin-left:-79px ;
}
 .four32 a:hover::after{ 
  width: 70px;
  transition: .7s;
  
}
.four23 h3{
   font-size: 22px;
font-weight: 600;
color: #222222;
padding-top:100px ;
}
.four33 h4{
  font-size: 14px;
font-weight: 400;
color: #222222;
padding-top:50px ;
line-height: 52px;
}
.four24 h3{
   font-size: 22px;
font-weight: 600;
color: #222222;
padding-top:100px ;
}
.four34 h4{
  font-size: 14px;
font-weight: 400;
color: #222222;
padding-top:50px ;
line-height: 45px;
}
.four25 h3{
 font-size: 22px;
font-weight: 600;
color: #222222;
padding-top:100px ;
}
.four25 h4{
 font-size: 14px;
font-weight: 400;
color: #222222;
padding-top:50px ;
line-height: 20px;
}
.four25 h5{
font-size: 15px;
font-weight: 600;
color: #222222;
padding-top: 50px;
}


.subscribe-box {
    width: 450px;
    background: #ffffff;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.subscribe-box input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.subscribe-box button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.subscribe-box button{
  font-size: 14px;
  font-weight: 500;
  color: #222222;
}
.subscribe-box button:hover{
  color: tomato;
  transition: .7s;
}
.subscribe-box{
  margin-top: 25px;
}
.fourFlex4{
  display: flex;
}
.four35{
  margin-top: 32px;
}